
Exyte.BAL/bin/Debug/*
Exyte.BAL/obj/*
Exyte.BAL/bin/Release/*
Exyte.DAL/bin/Release/*
Exyte.DAL/bin/Debug/*
Exyte.DAL/obj/*
packages/*
Exyte.Provider/bin/Debug/*
Exyte.Provider/bin/Release/*
Exyte.Provider/obj/*
Exyte.Models/bin/*
Exyte.Models/obj/*
Exyte_Barcode/bin/*
Exyte_Barcode/obj/*

